.page {
  min-width: 1100px;
  /* we don't know how to make mobile versions of websites yet, */
  /* so here we've set a minimum page width */
  max-width: 1600px;
  /* here we've set a maximum page width */
  margin: 0 auto;
  /* this ensures that all content is centered on screens wider than 1600px */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* parameters for the header section */
  display: flex;
  justify-content: space-between;
}

.header__title {
  width: 730px;
  margin-left: 64px;
  display: flex;
  align-items: center;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
}

.header__subtitle {
  width: 388px;
  margin-left: 64px;
  bottom: 30px;
  position: absolute;
  align-items: flex-end;
  display: block;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  z-index: 1;
}

.header__link {
  position: absolute;
  bottom: 0;
  text-decoration: none;
  z-index: 1;
}

.header__main-illustration {
  height: 608px;
  width: 765px;
  bottom: 0;
  right: 0;
  position: absolute;
}

/* here we have two examples of selectors in order to remind you how to set styles for elements */
.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: blue;
  position: absolute;
  top: 64px;
  right: 0;
  z-index: -1;
}

.logo {
  position: absolute;
}

.logo_place_header {
  height: 31px;
  width: 154px;
  top: 30px;
  left: 64px;
}

.description {
  display: flex;
  justify-content: center;
}

.description__row {
  margin-bottom: 100px;
  margin-top: 100px;
  width: 80%;
  display: flex;
}

.description__first-column {
  width: 175px;
  display: flex;
  justify-content: flex-start;
}

.description__second-column {
  width: 80%;
  min-width: 784px;
  flex-direction: column;
  justify-content: space-between;
}

.description__brief {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #003dff;
  width: 85%;
}

.description__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 30px;
  margin-top: 0;
}

.description__paragraph:last-of-type {
  margin-bottom: 0;
}

.span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

.digits {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.digits__title {
  top: 100px;
  width: 60%;
  margin-bottom: 20px;
  line-height: 69px;
  font-size: 60px;
  font-weight: bold;
}

.digits__subtitle {
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.digits__table {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  width: 1100px;
  left: auto;
  right: auto;
  bottom: 100px;
}

.digits__cell {
  display: flex;
  flex-direction: column;
  width: 250px;
  border: 1px solid blue;
}

.digits__cell-heading {
  margin-bottom: 20px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.digits__cell-text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 20px;
}

.digits__cell-text:last-of-type {
  margin-bottom: 0;
}

.digits__table-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  margin-top: 60px;
  border: 1px solid green;
}

.feyman {
  height: 790px;
  width: auto;
  display: flex;
  border: 1px solid blueviolet;
}

.feyman__title {
  margin-top: 100px;
  width: 775px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
}

.feyman__subtitle {
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feyman__link {
  height: 50%;
  right: 48px;
  position: absolute;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
}

.feyman__image {
  height: 637px;
  width: 867px;
  left: 0;
  bottom: 0;
  background-image: url(../images/feynman.png);
  background-position: center top;
}

.kaufman {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  color: white;
  overflow: hidden;
}

.kaufman__title_theme_dark {
  width: 60%;
  margin-top: 90px;
  line-height: 69px;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  z-index: 1;
}

.kaufman__subtitle_theme_dark {
  width: 60%;
  margin-top: 20px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  z-index: 1;
}

.kaufman__table_theme_dark {
  display: flex;
  align-items: stretch;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 90px;
}

.kaufman__table-row {
  display: flex;
  flex-direction: row;
}

.kaufman__triangle {
  height: 877px;
  width: 877px;
  right: -210px;
  position: absolute;
  z-index: 0;
}

.table_cell_theme_dark {
  width: 200px;
  margin-top: 80px;
  z-index: 1;
}

.table_heading_theme_dark {
  margin-bottom: 20px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  z-index: 1;
}

.table_text_theme_dark {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  z-index: 1;
}

.footer {
  min-height: 350px;
  flex-basis: 711px;
  padding-top: 60px;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
  background-color: black;
  color: white;
}

.footer__author {
  padding-top: 18px;
  padding-bottom: 18px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.footer__column-heading {
  padding-bottom: 20px;
  line-height: 45px;
  font-size: 18px;
  font-weight: bold;
  z-index: 1;
}

.footer__column-links {
  padding-bottom: 18px;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  z-index: 1;
}

.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
}

.footer__column_content_info {
  display: flex;
  flex-direction: column;
}

.footer__column_content_social {
  z-index: 1;
}

.footer__social-icon {
  padding-top: 20px;
  padding-bottom: 18px;
  z-index: 1;
}

.logo_place_footer {
  height: 35px;
  width: 183px;
}
